.backimgheader {
    background-image: url('img/Fotoheader.png');
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.inlineg { 
    display: inline-block;
}

/*.backfooter {
    background-color: #4800ff
}

*/

.iconbig {
    font-size: 50px;
}
/* Css Contacto */
.jumbotron {
    background: #48028e;
    color: #000;
    border-radius: 0px;
    }
    .jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
    .jumbotron small {
    color: #000;
    }
    .h1 small {
    font-size: 24px;
    }
    