<br><br>

<!-- Quien Soy movil-->

<div class="container d-lg-none">
  <div class="container-fluid text-center">
      <img src='../../assets/img/FotoPerfil.png' alt="Gaston Graciani">
  </div>
  <!-- <br><br>   -->
  <div class="text-center">
      <h2>Gaston Graciani</h2>
    </div>
    <div class="text-center">
        <h3>Estudiante de Ing. Electronica</h3>
    </div>
  <br><br><br>
</div>

<!-- Habilidades -->

<div class="container d-lg-none ">
<h1 class="text-center">Habilidades</h1>

<div class="text-center">
    <img src='../../assets/img/Ubuntuserver.png' alt="Logo de ubuntu">
    <h2>Ubuntu server</h2>
</div>
  <br><br><br>
  <div class="text-center">
    <img src="../../assets/img/HTML.png" alt="Logo HTML">
    <h2>HTML</h2>
</div>
  <br><br><br>
  <div class="text-center">
    <img src='../../assets/img/CSS.png' alt="Logo CSS">
    <h2>CSS</h2>
</div>
  <br><br><br>
  <div class="text-center">
    <img src='../../assets/img/JS.png' alt="Logo Javascript">
    <h2>JavaScript</h2>
</div>
</div>

<!--Quien soy y Habilidades para pantallas mas grandes.-->


<br><br><br><br>
<div class="d-none d-lg-block">
<div class="row ">
<div class="container col-6 text-center">
    <img src="../../assets/img/FotoPerfil.png" alt="Foto de perfil">
    <br>
    <h2 >Gaston Graciani</h2>
    <h3 >Estudiante de </h3>
    <h3 >Ing. Electronica</h3>
    <br><br>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint cum dolorum enim dolores repellendus delectus non, iure quod, doloribus asperiores aliquid animi labore ipsum ad autem, ex ullam magnam? Necessitatibus commodi molestias sint fuga qui doloremque at cumque? Nemo incidunt autem praesentium blanditiis earum, reprehenderit natus illum maxime exercitationem delectus.  
    </h5>

    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, mollitia tempora? Laboriosam illo repellendus rem asperiores excepturi accusamus ducimus qui. Provident eius soluta quam odio.</h5>
    
</div>

<div class="col-4 container text-left">
<div>
    <img src="../../assets/img/Ubuntuserver.png" alt="Ubuntu server">
    <h2 class="inlineg"> Servidores</h2>
</div>
<br><br>
<div>
    <img src="../../assets/img/HTML.png" alt="HTML 5">
    <h2 class="inlineg"> HTML 5</h2>
</div>
<br><br>
<div>
    <img src="../../assets/img/CSS.png" alt="CSS">
    <h2 class="inlineg"> CSS</h2>
</div>
<br><br>
<div>
    <img src="../../assets/img/JS.png" alt="Javascript">
    <h2 class="inlineg"> Javascript</h2>

</div>
</div>
</div>

</div>
